extends layout

block content
  .container-fluid
    .row
      .input-group
        .input-group-addon 总共记录：10条，查询条件：
        input(type="text").form-control
        span.input-group-btn
          button.btn.btn-default 确定
    .row
      table.table.table-bordered
        tr
          th 序号
          th 标题
          th 状态
          th 作者
          th 日期
        -for(var i=0;i<blogs.length;i++)
          tr
            td=blogs[i].index
            td=blogs[i].title
            td 草稿
            td 于其怪
            td=blogs[i].date
      span 当前#{pages.current}/#{pages.total}页,跳转&nbsp
        button.btn.btn-default < 上一页
        span &nbsp &nbsp
        button.btn.btn-default 下一页 >



      input(type='text').input-sm
      button.btn.btn-default &nbsp 确定